.gradle
!gradle-wrapper.jar
.gradletasknamecache

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/modules
.idea/compiler.xml

*.iws
*.iml
hs_err_pid*

.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

/build/
cli/build/
cli/out/
dsl/build/
dsl/out/
example/build/
example/out/
gocd-groovy-dsl-config-plugin/build/
gocd-groovy-dsl-config-plugin/out/
gocd-groovy-dsl-config-plugin/src/main/resources-generated
jar-class-loader/build/
jar-class-loader/out/
sandbox/build/
sandbox/out/
doclet/build/
doclet/out/
